@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
       <h1>Greetings</h1>
       <p> Welcome to our website, we have lots of functionality here.</p>
       <p>Please peruse our webshop for interesting mystery products</p>
</div>
